@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v3eg06');
  src:  url('fonts/icomoon.eot?v3eg06#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v3eg06') format('truetype'),
    url('fonts/icomoon.woff?v3eg06') format('woff'),
    url('fonts/icomoon.svg?v3eg06#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-youtube:before {
  content: "\ea9d";
}
